.backgroundProjects {
  width: 100vw;
  height: 100vh;
  overflow: hidden;    
}
.pageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 80%;    
  align-content: center;    
  justify-content: center;
  background-color: rgba(35, 29, 29, 0.8); 
  z-index: 1000;             
}
.buttonContainer {
  display: grid;
  width: 100%;    
  justify-content: center;
  align-content: center;    
  position: absolute;
  top: 5vh;
}
.backButton {
  width: 150px;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(51, 37, 37);
  background-color: rgb(233, 226, 226);
  height: 30px;
  cursor: pointer;
}
.projectCardContainer {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 5%;  
  justify-self: center;
} 
.imgContainer { 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 80vh;
  width: auto; 
}
.image {
  height: 100%;   
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 6px;
  background-color: rgb(140, 115, 115);
  border-radius: 50%;
  display: inline-block;  
}
.active {
  background-color: white;
}