  .backgroundProjects {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
  }
  .pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 80%;    
    align-content: center;    
    justify-content: center;
    background-color: rgba(20, 20, 20, 0.8); 
    z-index: 1000;             
  }
  .buttonContainer {
    display: flex;
    width: 100%;    
    justify-content: center;
    align-content: center;    
    position: absolute;
    top: 10vh;
  }
  .backButton {
    width: 150px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(76, 59, 59);
    background-color: rgb(233, 226, 226);
    height: 30px;
    cursor: pointer;
  }
  .projectCardContainer {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 5%;
    max-width: 1000px;
    justify-self: center;
  }
  .projectInfo > p {
    font-size: 0.8rem;
    color: white;
    padding-left: 10%;
  }  
  .imageAndArrowsContainer {           
    display: grid;
    grid-template-columns: 10% 80% 10%;         
  }  
  .arrowIcons {        
    display: grid;
    color: rgb(229, 203, 203);
    place-content: center center;    
  }
  .arrowPrevious, .arrowNext  {
    display: none;    
  }    
  .imageContainer {
    place-content: center center;
  }
  .image {
    width: 100%;
    max-width: 800px;
    height: auto;         
  }
  .video {
    width: 100%;    
    height: 470px;  
  }  
  .circlesContainer{
    display: flex;
    justify-self: center;    
  }
  .circle {
    width: 10px;        
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    justify-self: center; 
    align-self: baseline;     
  }
  .circleMargin:not(:last-child) {
    margin-right: 7px;
  }
  .activeCircle, .circle:hover {
    background-color: lightgray;
  } 
  
  @media screen and (max-width: 1100px) {
    .pageContainer {           
      grid-template-columns: 90%;
    }
    .projectCardContainer {
      margin-top: 3vh;
    }
  }

  @media screen and (max-width: 900px) {
    .pageContainer {           
      grid-template-columns: 95%;
    }
    .projectCardContainer {
      margin-top: 1vh;
    }
  }

  @media screen and (max-width: 800px) {
    .buttonContainer {     
      top: 15vh;
    }
  }
 
  @media screen and (max-width: 500px) {
    
    .imageAndArrowsContainer {           
      display: grid;
      grid-template-columns: 7% 86% 7%;
      grid-template-rows: 100%;
    }
  }