  .backgroundProjects {
    width: 100vw;
    height: 100vh;
    overflow: hidden;    
  }
  .pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 90%;    
    align-content: center;    
    justify-content: center;
    background-color: rgba(20, 20, 20, 0.8); 
    z-index: 1000;             
  }
  .buttonContainer {
    display: flex;
    width: 100%;    
    justify-content: center;
    align-content: center;
    margin-top: 5vh;
    box-sizing: border-box;
  }
  .backButton {
    width: 150px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(76, 59, 59);
    background-color: rgb(233, 226, 226);
    height: 30px;
    cursor: pointer;
  }
  .projectCardContainer {    
    grid-template-columns: 100%;
    grid-template-rows: auto auto 5%;    
    justify-self: center; 
    margin-bottom: 2vh;
    box-sizing: border-box;   
  }
  .projectInfo > p {
    font-size: 0.8rem;
    color: white;
    padding-left: 10%;
  }  
  .imageAndArrowsContainer {           
    display: grid;
    grid-template-columns: 10% 80% 10%;             
  }  
  .arrowIcons {        
    display: grid;
    color: rgb(229, 203, 203);
    place-content: center center;     
  }
  .arrowPrevious, .arrowNext  {
    display: none;    
  }    
  .imageContainer {
    display: grid;
    place-content: center center;
  }
  .image {
    width: 100%;
    max-width: 830px;
    height: auto;         
  }
  .video {
    width: 100%;    
    height: 470px;  
  }  
  .circlesContainer{
    display: flex;
    justify-content: center;
  }
  .circle {
    width: 10px;        
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    justify-self: center; 
    align-self: baseline;     
  }
  .circleMargin:not(:last-child) {
    margin-right: 7px;
  }
  .activeCircle, .circle:hover {
    background-color: lightgray;
  }

  @media screen and (max-width: 900px) {
    .pageContainer {           
      grid-template-columns: 95%;
    }    
  }
  
  @media screen and (max-width: 499px) {
    .buttonContainer {
      margin-top: 0;
    }
    .projectInfo > p {      
      padding-left: 0;
    } 
    .imageAndArrowsContainer {
      grid-template-columns: 100%;         
    }  
    .arrowIcons {        
      display: none;        
    }
    .image {     
      max-width: none;               
    }
    .circle {
      width: 15px;        
      height: 15px;       
    }
    .circleMargin:not(:last-child) {
      margin-right: 12px;
    }    
  }

  @media screen and (min-width: 500px) and (max-width: 949px) and (max-height: 499px) {
    .buttonContainer {
      margin-top: 0vh;
    }
    .projectCardContainer {
      margin-top: 4vh;
      grid-template-rows: auto 5%; 
    }
    .projectInfo {
      display: none;
    } 
    .imageAndArrowsContainer {
      column-gap: 2vw;         
    }
    .image {      
      height: 75vh; 
      width: auto;
      max-width: none;                   
    } 
    .circle {      
      margin-top: 2vh;       
    }
    .circleMargin:not(:last-child) {
      margin-right: 12px;
    } 
  }